@-moz-document domain("pikabu.ru") {
@import url(http://fonts.googleapis.com/css?family=Roboto:400,,900&subset=latin,cyrillic);
body {
	background-color: #f9f9fb !important;
}
.info a {
    text-decoration: none;
    color: #28adaa;
	transition: all .3s;
}
.info a:hover {
    color: #28adaa;
	text-shadow: 0 0 10px #bbb;
}
#logodiv {
	background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);		
    background-position: -42px -44px;
	width: 194px;
	height: 55px;
	top: 17px;
}
#logodiv img {
	display: none;
}
.tag_count {
	background: #f6265c;
	color: #fff;
	padding: 1px 10px;
	font: 12px tahoma, arial, sans-serif;
	border-radius: 18px;
}
.tag {
	font-size: 12px;
	padding: 4px 8px 4px;
    margin: 0 2px;
	text-shadow: 0 1px 0 white;
    border-width: 1px;
    border-style: solid;
    border-color: #C4C4C4;
}
.tag:hover {
	background: #DDD;
}
table.inner_wrap {
	margin-top: 5px;
}
.header-cont {
	background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
    height: 90px;
}










/*~~~~~~~~~~~~~~~~~ Header button ~~~~~~~~~~~~~~~~~~~~~*/

td.header-nav-bottom {
	vertical-align: inherit
}

td.header-nav-bottom > ul.menu {
    height: 50px;
}
table#header_t ul li {
    height: 50px;
}
table#header_t .menu li a {
    background: none;
	width: 90px!important;
    border: 1px solid #05bf54!important;
    border-radius: 3px!important;
    padding: 16px 10px 13px!important;
    color: #05bf54;
}


table#header_t .active, table#header_t .active a{
    margin: 0 0 0 20px;
}
table#header_t .noactive {
	margin-left: 20px;
}
td.header-nav-bottom > ul.menu > li.menu-item-default {
    width: 112px;
}
.active3, .active2 {
	display: none;
}

table#header_t .menu .active a, table#header_t .menu .active a:hover {
    background: #05bf54!important;
	text-shadow: none;
}

.b-user-menu {
	border-radius: 3px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
    height: 570px;
}
.b-user-menu__logo {
	margin-left: 110px;
    border-radius: 100%;
    position: absolute;
    top: 190px;
	width: 90px;
}
.b-user-menu__avatar {
	border-radius: 100%;
	border: solid 5px white;
}

/*~~~~~~~~~~~~ Strawberry ~~~~~~~~~~~~~~~~~~~*/
.b-user-menu__strawberry {
	position: relative;
    top: -72px;
    right: 73px;
}
.b-user-menu__strawberry .switchery>small {
	display: none;
}
.b-user-menu__strawberry .switchery {
	width: 30px;
    height: 30px;
    background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-color: #fff!important;
    border-radius: 100%;
    opacity: 1;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28)!important;
    border: 5px solid #fff!important;
}
.b-user-menu__strawberry .switchery[style*="rgb(78, 144, 186)"] {
    background-position: -38px -6px;
}
.b-user-menu__strawberry .switchery[style*="rgb(204, 206, 209)"] {
    background-position: 203px -62px;
}

/*~~~~~~~~~~~~ Strawberry End~~~~~~~~~~~~~~~~*/

.b-user-menu__logo:before, .b-user-menu__logo:after {
	display: none;
}
.b-user-menu__main {
	width: 300px;
	border: none;
	border-radius: 3px;
	background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_1/143849605613319664.jpg);
	background-size: 300px 130px;
}
.b-user-menu__header {
	background: #fff;
	height: 100px;
	margin: 130px 0 0 0;
	text-align: center;
	border-bottom: none;
}
.b-user-menu__header a {
	width: auto;
	position: relative;
    top: 45px;
    left: 3px;
	z-index: 9;
	font: 13pt/20pt Roboto;
	font-weight: 900;
}
.b-user-menu__logout {
	width: 40px;
	height: 40px;
	float: none;
	left: 222px;
	top: -50px;
	background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);				
    background-position: 1px -2px;
	background-color: #fff;
	border-radius: 100%;
    opacity: 1;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);

}
.b-user-menu__logout:before {
	content: 'Выход';
	top: 44px;
    left: -1px;
    position: absolute;
	color: #9b9b9b;
}
.b-user-menu-list {
	background: #fff;
	margin: 0;
}
.i-sprite_users_menu-rating, .i-sprite--users__menu-rating {
	display: none;
}
.b-user-menu-list li:nth-child(1) {
	position: relative;
	top: -220px;
	color: #fff;
	width: 75px;
	padding: 0 40px;
	font: 13pt/20pt Roboto;
	font-weight: 900;
	text-align: center;
	border-right: 1px solid #fff;
}
.i-sprite_users_menu-subscribers, .i-sprite--users__menu-subscribers {
	display: none;
}
.b-user-menu-list li:nth-child(2) {
	position: relative;
	top: -272px;
	left: 156px;
	color: #fff;
	width: 110px;
	padding: 0 16px;
	font: 13pt/20pt Roboto;
	font-weight: 900;
	text-align: center;
}
.b-user-menu-list li:nth-child(3) {
	border-top: 2px solid #d1d8da;
}
.b-user-menu-list li:nth-child(9) {
	border-bottom: 2px solid #d1d8da;
}
.b-user-menu-list li:nth-child(5) {
	display: none;
}
.b-user-menu-list li:nth-child(n+3) {
	top: -130px;
	position: relative;
    padding: 8px 0 8px 30px;
	font: 13pt/20pt Roboto;
	margin: 0 40px;
}
.i-sprite_users_menu-settings, .i-sprite--users__menu-settings {
	background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);				
    background-position: -5px -210px;
	width: 28px;
    height: 28px;
}
.i-sprite_users_menu-feed, .i-sprite--users__menu-feed{
	background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);				
    background-position: -5px -73px;
	width: 28px;
    height: 28px;
}

.i-sprite_users_menu-my-messages, .i-sprite--users__menu-my-messages{
	background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);				
    background-position: -5px -42px;
	width: 28px;
    height: 28px;
}
.i-sprite_users_menu-my-comments, .i-sprite--users__menu-my-comments{
	background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);				
    background-position: -5px -105px;
	width: 28px;
    height: 28px;
}
.i-sprite_users_menu-interested, .i-sprite--users__menu-interested{
	background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);				
    background-position: -5px -138px;
	width: 28px;
    height: 28px;
}
.i-sprite_users_menu-saved, .i-sprite--users__menu-saved{
	background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);				
    background-position: -5px -171px;
	width: 28px;
    height: 28px;
}
.b-user-menu-list a {
	color: #28adaa;
}
.b-user-menu-list__icon {
	margin-right: 15px;
}
div.menu-add-btn {
    width: 240px;
    height: 0px;
    right: -30px;
    top: -93px;
}

.addlink_button {
    height: 50px;
	background: #05bf54;											box-shadow: 0 4px 0px 0px #009e03;
}
.addlink_button:hover {
	position: relative;
	top: 4px;
	background: #05bf54;
	box-shadow: 0 -4px 0px 0px #fff;
	color: #fff;
}
.addlink_button img, .addlink_button div {
	display: none;
}

.addlink_button:before {
	content: 'Добавить новость';
	position: relative;
	left: 40px;
	top: 13px;
	font: 19px Tahoma, Arial, sans-serif;
}
div.menu-block, table.menu-block {
	background-color: #fff !important;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
	border: none;
	border-radius: 3px;
    padding: 0 40px;
	width: 220px;
}
td.menu-block-title {
    background-color: #fff;
}
.rating_bl {
	font: 16px Tahoma, Arial, sans-serif;
    color: #4a4a4a;
    text-shadow: none;
    padding: 55px 0px 20px 0px;
    border-bottom: 1px solid;
    border-bottom-color: #dbdbdb;
	width: 100%;
}
td.menu-best-comm > div.menu-story-link {
	padding: 15px 0;
	text-align: center;
	width: 220px;
    border-bottom: 1px solid #dbdbdb;
}

td.menu-best-comm > div.menu-story-link > a {
	font: 16px Roboto;
    color: #28adaa;
    text-decoration: none;
	transition: all 0.3s;
}
td.menu-best-comm > div.menu-story-link > a:hover {
	text-shadow: 0 0 10px #999;
}
.info_c {
	font: 0px Roboto!important;
	margin-left: 40px;
	margin-top: 5px;
    width: 100%;
}
.info {
    line-height: 30px!important;
    font: 14px Roboto;
}
td.menu-best-comm > div.menu-comm-desc {
	width: 170px!important;
	font: 14px Roboto;
	padding: 2px 0 10px 50px;
}
td.menu-best-comm > div.menu-comm-head > h6 {
	font: 16px Roboto;
	font-weight: 900;
	margin-top: 30px;
	margin-left: -50px;
	
	position: absolute;
}
.info_c a {
    color: #28adaa;
	font: 12px Roboto;
    padding: 0 0 0 10px;
}
.comment_msg a {
    color: #28adaa;
}
.info_c a:hover {
	text-shadow: 0 0 10px #999;
    color: #28adaa;
    padding: 0 0 0 10px;
}
.login_f .rating_bl {
	text-align: center;
}
.best_comm:before {
	background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);		
    background-position: 275px -5px;
	content: ' ';
	padding: 10px 20px 11px;
	position: relative;
	left: 90px;
	top: 30px;
}
span.menu-block-title-right {
	display: none;
}

div.menu-top-tags .menu-top-tags-cont > div {
    margin-top: 16px;
}
div.menu-top-tags {
	background-color: #fff !important;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
	border-radius: 3px;
    padding: 0 40px;
	width: 220px;
	
}
div.menu-top-tags:before {
	background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);		
    background-position: 162px -5px;
	content: ' ';
	padding: 13px 21px 12px;
	position: relative;
	left: 90px;
	top: 30px;
}
.small_text a {
	color: #28adaa;
    text-decoration: none;
    font: normal 16px Roboto;
	transition: all .3s;
}
.small_text a:hover {
	text-shadow: 0 0 10px #bbb;
}
td.menu-best-comm {
	padding: 0 0 15px 0!important;
}
td.menu-block-small-txt {
	padding-left: 0px!important;
}
td.menu-block-small-txt > img {
    width: 220px!important;
	padding-left: 0px!important;
}
div.menu-cont div.header-nav-top {
    height: 25px!important;
    margin-top: -88px!important;
    opacity: 0;
	transition: .5s;
}

div.menu-cont div.header-nav-top:hover {
	opacity: 1;
}
.search_block {
	height: 34px;
    background: none;
    border: 1px solid #dadada;
    border-radius: 3px!important;
    width: 287px!important;
}
.search_btn {
	height: 38px;
    padding-top: 0px;
	left: -57px;
    position: relative;
	opacity: 0;
	z-index: 100;
}
div.header-search-box > form:after {
	content: " ";
	background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: 113px -47px;
    position: relative;
    left: 270px;
    top: -23px;
    padding: 10px 10px 0px;
}




/*~~~~~~~~~~~~~~~ Feed panel ~~~~~~~~~~~~~~*/
.b-feed-panel {
	background: #fff;
	border-radius: 3px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
    padding: 12px 0;
    margin: 16px 8px 0 93px;
	font: 14px Roboto;
}
.b-feed-panel a {
    border: none;
}
.b-feed-panel__toolbar>div>span {
	display: none;
}
.b-feed-panel__toolbar>div>a[data-type="sort"], .b-feed-panel__toolbar>div>a[data-type="mode"] {
	background: #05bf54;
	color: #fff;
	border-radius: 3px;
	padding: 12px;
	transition: .1s;
}
.b-feed-panel__toolbar>div>a[data-type="sort"]:hover, .b-feed-panel__toolbar>div>a[data-type="mode"]:hover {
	background: #009e03;
}
.b-feed-panel__toolbar>div>a[data-type="sort"]:before {
	Content: 'По ';
}
.b-feed-panel__toolbar>div>a[data-type="date"] {
	font-size: 0px;
}
.b-feed-panel__toolbar>div>a[data-type="date"]:after{
	content: ' ';
    background-image: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: -44px -140px;
	padding: 13px 21px 7px 0;
    margin-left: 10px;
}







/*~~~~~~~~~~~~~~~ Posts ~~~~~~~~~~~~~*/
.pg_wrap {
	background: none!important;
    padding: 0px 9px 0 30px;
}
.pg_wrap table {
	background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
    position: relative;
    margin-left: 0!important;
	width: 100%!important;
    border-radius: 3px 3px 0 3px;
    padding-left: 0px;
}
.i-sprite_b-rating_up, .i-sprite--b-rating__up {
	background-image: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: -148px -9px;
    width: 32px;
    height: 26px;
}
.i-sprite_b-rating_up-active, .i-sprite--b-rating__up-active {
	background-image: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: 271px -62px;
    width: 32px;
    height: 26px;
}
.i-sprite_b-rating_down, .i-sprite--b-rating__down {
	background-image: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: -190px -9px;
    width: 32px;
    height: 26px;
}
.i-sprite_b-rating_down-active, .i-sprite--b-rating__down-active {
	background-image: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: 238px -62px;
    width: 32px;
    height: 26px;
}
div.story_head span {
	display: none;
}
a.story_authors {
	background: #f6265c!important;
	color: white!important;
	padding: 3px 7px!important;
	border-radius: 3px!important;
    text-decoration: none!important;
	font: 10pt sans-serif!important;
}
a.story_link {
	color: #28adaa!important;
}
div.story_head {
	margin: 5px 0;
}
.pg_click {
	background: none;
}
.pg_click:hover {
	background: none;
}

.b-story__content_type_text {
    font: 16px Roboto;
	border: none;
	background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
    width: 800px;
    margin-top: 0px;
    margin-left: 91px;
    margin-right: 9px;
    padding: 10px 16px 15px;
	border-radius: 0;
}

.b-story__footer {
    position: relative;
	margin-left: 91px;
    margin-top: 0;
	margin-right: 9px;
    padding-left: 0;
	background-color: #fff;
    box-shadow: 0px -1px 0px 0px white, 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
    border-radius: 0 0 3px 3px;
	width: 760px;
	top: -4px;
    padding: 5px 20px;
	
}
.b-video {
    width: 100%!important;
    height: 450px!important;
    margin-bottom: 5px!important;
}
.b-video__player iframe{
    width: 100%!important;
    height: 100%!important;
}
.sv_img {
	width: 61px;
	height: 27px;
    padding-right: 0;
	transition: all .1s;
	border-radius: 2px;
}
.sv_img:hover {
	box-shadow: 0 0 5px #bbb;
}
.showvideo[attr="1"] {
	content: url('http://cs6.pikabu.ru/images/previews_comm/2015-08_1/143860783362239668.png')
}
.showvideo[attr="0"] {
	content: url('http://cs6.pikabu.ru/images/previews_comm/2015-08_1/143860783351683281.png')
}
.showpic[attr="1"]{
	content: url('http://cs6.pikabu.ru/images/previews_comm/2015-08_1/143860783321170463.png')
}
.showpic[attr="0"]{
	content: url('http://cs6.pikabu.ru/images/previews_comm/2015-08_1/143860783218503834.png')
}
.showtext[attr="1"]{
	content: url('http://cs6.pikabu.ru/images/previews_comm/2015-08_1/1438607833411242942.png')
}
.showtext[attr="0"]{
	content: url('http://cs6.pikabu.ru/images/previews_comm/2015-08_1/143860783335646558.png')
}

.b-story__content_type_media {
    margin-left: 91px!important;
	padding-left: 0px!important;
    margin-right: 9px!important;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28)!important;
    margin-top: 0!important;
	background: #fff!important;
}
.b-story__content_type_text, .b-story__content_type_media, .b-story__content_type_media img {
    max-width: 800px!important;
}
.b-story__content_type_media, .b-story__content_type_media img {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
/*~~~~~~~~~~~~ Notification ~~~~~~~~~~~~~*/
/*.b-user-menu-list__count {
	background-color: #f6265c!important;
    border-radius: 30px!important;
	color: #fff!important;
    font-weight: 400;
    padding: 5px 10px;
}*/
div.header-message-signup {
	background: #05bf54;
	border: 0;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .15);
    border-bottom-left-radius: 3px;
    font: 15px Roboto;
}

/*~~~~~~~~~~~~ Notification End ~~~~~~~~~~~~~*/



/*~~~~~~~~~~~~ Comments ~~~~~~~~~~~~~~~~~~~~~*/
.b-social, .b-story__hr, .b-story-info {
	background: #fff;
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,.28);
	border: none!important;
    margin-left: 87px;
    margin-right: 9px;
    width: auto;
											
}
.b-social {
    padding: 15px 20px;
}
.b-story-info {
    padding: 10px 20px;
}

@media screen and (min-width: 1286px) {
	.b-social {
		width: 800px;			
	}
	.b-story__hr, .b-story-info {
		width: 800px;
	}
	
}
.b-comments_type_main {
	background: #fff;
	box-shadow: 0px -21px 0px -20px #e5e5e5, 0 -1px 0 0px white, 0px 1px 3px -0px rgba(0, 0, 0, .28);
    margin: 0px 9px 0 87px;
    padding: 20px;
}


.b-comment {
	font: 14px Roboto;
}
.b-comments {
    border-left: 1px solid #d8d8d8;
}
.b-comment__user_author_story {
    background-color: #05bf54;
    padding: 1px 9px 2px 9px;
    border-radius: 20px;
	margin-right: 10px;
}
.b-comment__user {
    margin-top: 2px;
    margin-left: 10px;
}
.b-comment__user img {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-top: -1px;
	
}
.b-comment-toggle__icon {
    padding: 5px 2px 0;
}
.b-comment-toggle_type_expand {
    padding: 0 3px;
}
.fa-plus-square:before {
    content: url(http://cs6.pikabu.ru/images/previews_comm/2015-08_1/1438703469259710308.png);	
}
.b-comment-toggle__count {
    line-height: 20px;
    height: 20px;
	color: #28adaa;
    font-size: 14px;
	margin: 4px;
}
.fa-minus-square-o:before {
    content: url(http://cs6.pikabu.ru/images/previews_comm/2015-08_1/1438703469143156068.png);
}
.b-comment-toggle_type_collapse {
	padding: 5px 0px 0;
}
.i-sprite_comments_show, .i-sprite--comments__show {
	display: none;
}


@media screen and (max-width: 1285px) {
	.b-comments_type_main {width: auto;}
	.b-story__content_type_text {width: auto; max-width: none;}
	.b-story__footer {width: auto;}
}

.b-comment__tool-link {
	font-size: 0px;
}
.b-comment__tool a {
    background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: 111px -6px;
    padding: 8px;
    border-radius: 4px;
}
.b-comment__tool a:hover {
    background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: 90px -6px;
}
.i-sprite_comments_save, .i-sprite--comments__save {
    background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: 111px -31px;
    width: 16px;
    height: 15px;
    margin: 2px 4px;
}
.i-sprite--comments__save:hover {
    background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: 110px -76px;
    width: 16px;
    height: 15px;
    margin: 2px 4px;
}
.i-sprite_comments_save_active, .i-sprite--comments__save_active {
    background-position: 110px -76px;
}
.i-sprite_comments_rating-up, .i-sprite--comments__rating-up {
    background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: 110px -120px;
    width: 16px;
    height: 12px;
}
.i-sprite--comments__rating-up:hover {
    background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: 110px -99px;
    width: 16px;
    height: 12px;
}
.i-sprite_comments_rating-up-active, .i-sprite--comments__rating-up-active{
    background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: 110px -99px;
    width: 16px;
    height: 12px;
}
.i-sprite_comments_rating-down, .i-sprite--comments__rating-down {
    background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: 90px -120px;
    width: 16px;
    height: 12px;
}
.i-sprite--comments__rating-down:hover {
    background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: 90px -99px;
    width: 16px;
    height: 12px;
}
.i-sprite_comments_rating-down-active, .i-sprite--comments__rating-down-active {
    background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: 90px -99px;
    width: 16px;
    height: 12px;
}
.b-comment__rating li {
    padding: 4px 0;
}
.b-comment__rating-up {
    margin-right: 6px;
}
.b-story-info__main {
	font: 14px Roboto;
}
.b-comment__header, .b-comment__rating-count {
    font-weight: 900;
	font: 14px Roboto;
	margin: 2px 5px 0 0 ;
}
.b-comment__user a {
	color: #28adaa;
	margin-right: 15px;
}
.b-comment__user a:hover {
	color: #28adaa;
	text-shadow: 0 0 10px #bbb;
}
.b-comment__control {
	color: #28adaa;
	font: 14px Roboto;
	transition: all .3s;
}
.b-comment__control:hover {
	color: #28adaa;
	text-shadow: 0 0 10px #bbb;
}

.b-comments__next {
    background-color: #fff;
    margin: 0px 9px 0 87px;
    border-radius: 0px;
    width: auto;
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,.28);
}














/*~~~~~~~~~~~~~~~~~~~ Social ~~~~~~~~~~~~~~*/
.i-sprite_social_vk, .i-sprite--social__vk, .i-sprite_social_vk_hover_yes {
    background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: 309px -111px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}
.i-sprite--social__vk:hover {
    background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: 332px -111px;
    width: 20px;
}
.i-sprite_social_twitter, .i-sprite--social__twitter, .i-sprite_social_twitter_hover_yes {
    background: url(http://cs6.pikabu.ru/images/big_size_comm/2015-08_2/143883861418012103.png);
    background-position: 241px -111px;
    width: 20px;
    height: 20px;
    border-radius: 4px;

}
.i-sprite--social__twitter:hover {
	background-position: -5px -415px;
    width: 20px;
}
.i-sprite_social_save, .i-sprite--social__save {
    border-radius: 4px;
}
.i-sprite_social_saved, .i-sprite--social__saved {
    border-radius: 4px;
}
/*~~~~ Кнопка лицокниги почему-то не пашет :( ~~*/

/*~~~~~~~~~~~~~~~~~~~ Social End ~~~~~~~~~~~~~~*/

/* ~~~~~~~~~~~~~~~~~~~ Auth ~~~~~~~~~~~~~~~*/

table.menu-auth-form {
    font: 14px Roboto;
    height: 240px;
    background: #fff;
    border-radius: 0 0 3px 3px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
}

div.menu-auth-form {
    width: 300px;
    margin-top: -100px;
	border: 0;
	background: none;
}
div.menu-auth-block {
    padding: 0 30px;
    top: 15px;
}
.login_block_form input.txt {
    width: 230px;
	border-bottom: 2px solid #DADADA!important;
	border: 0;
    border-radius: 0;
    padding: 10px 2px;
}
.login_block_form input.txt:focus {
    width: 230px;
	border: 0;
    border-radius: 0;
    padding: 10px 2px;
    box-shadow: none;
}
.submit_button, .submit_button_freshitems, .comment_desc_edit_submit_button, .moderator_add_tag_init {
	background: #05bf54!important;
    color: #fff!important;
    border-radius: 3px!important;
	border: 0!important;
    text-shadow: none!important;
    padding: 10px!important;
    height: 35px!important;
    width: 90px!important;
    box-shadow: 0 4px 0px 0px #009e03!important;
    transition: none!important;
    font: 14px Tahoma, Arial, sans-serif;
}
.submit_button:hover, .submit_button_freshitems:hover, .comment_desc_edit_submit_button:hover, .moderator_add_tag_init:hover {
    margin: 4px 0 -4px;
    box-shadow: 0 -4px 0px 0px #fff!important;
}
div.menu-auth-block2 .menu-auth-rem {
    padding: 20px 0 5px 0;
}
table.menu-auth-tabs {
    font: 14px Roboto;
	background: #fff;
	border-radius: 3px 3px 0 0;
}
table.menu-auth-tabs .menu-auth-tab-signin {
	padding: 9px 0 14px!important;
	border-radius: 3px 0 0 0!important;
	background: #fff!important;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28)!important;

}

table.menu-auth-tabs .menu-auth-tab-signup {
	color: #fff!important;
	padding: 9px 0 14px!important;
	border-radius: 0 3px 0 0!important;
	background: -moz-linear-gradient(top, #05bf54 0%, #05bf54 80%, #fff 100%)!important;
    background: -webkit-linear-gradient(top, #05bf54 0%, #05bf54 80%, #fff 100%)!important;
    background: linear-gradient(top, #05bf54 0%, #05bf54 80%, #fff 100%)!important;
    text-shadow: none!important;
}
div#login_block_register_form > form#form2 {
    margin: 90px 0 60px;
}

/*~~~~~~~~~~~~~~~~ Auth end ~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~ Я не знаю как это назвать ~~~~~~~~*/
.b-story__rating-pluses {
    background-color: #7ed321;
	border-radius: 4px 0 0 4px;
    border-right: none;
}
.b-story__rating-minuses {
	background-color: #f6265c;
	border-radius: 4px;
}

/* ~~~~~~~~~~~~~~~ Окно нового комментария ~~~~~~~~~ */
.b-comments-reply {
	background: #fff;
    max-width: 800px;
	padding: 20px;
}
.b-comments__reply {
	box-shadow: 0 -1px 0 0px white, 0px 1px 3px 0px rgba(0, 0, 0, 0.28)!important;
    margin-right: 9px;
    margin-left: 87px;
}
.b-comments-reply__editable {
    border: 1px solid #ccc;
}
.b-comments-reply__editable:focus {
    box-shadow: 0 1px 4px #ccc;
    border-color: #ccc;
}
.b-button_type_default {
	border: 0;
	background: #05bf54!important;
    color: #fff!important;
    text-shadow: none!important;
    box-shadow: 0 4px 0px 0px #009e03!important;
	margin-bottom: 4px;
    height: 35px;
    width: 160px;
	font: 14px Roboto;
	transition: none;
}
.b-button_type_default:hover {
	margin-top: 4px;
	margin-bottom: 0px;
    box-shadow: 0 -4px 0px 0px #fff!important;
}
.b-comments-reply__attach-files {
	color: #28adaa;
	font: 14px Roboto;
    margin: 7px 20px;
	transition: all .3s;
}
.b-comments-reply__attach-files:hover {
    background: none;
    text-shadow: 0 0 10px #bbb;
}
.b-comments-reply__controls {
    padding-top: 20px;
}
/* ~~~~~~~~~~~~~~~ Окно нового комментария Конец ~~~~~~~~~ */







/* ~~~~~~~~~~~~~~~ Правый блок / Ваши подписки ~~~~~~~~~~*/

/* ~~~~~~~~~~~ Правый блок / Ваши подписки Конец ~~~~~~~~~~*/


/* ~~~~~~ Центральный блок / Информация о пользователе ~~~~~~*/

/* ~~~ Центральный блок / Информация о пользователе Конец ~~~~*/

/*~~~ Нижний информационный блок ~~~~~~~~~~~~~~~~*/
/*~~~ Нижний информационный блок Конец ~~~~~~~~~~*/


}

@-moz-document url-prefix("http://pikabu.ru/story/") {
.b-story__footer {
	margin-bottom: 0;
    top: 0;
    box-shadow: 0px -1px 0px 0px #fff, 0px 3px 0px 0px #fff, 0px 1px 3px 0px rgba(0, 0, 0, 0.28);
	border-radius: 0;
}
table.inner_wrap{
    margin-top: 0px;
}

/* ~~~~~~~~~~ Реклама портит вид, Админ, извини ._. ~~~~~~~~~~*/
.inner_wrap:nth-child(3) tbody tr td:nth-child(2) table {
	display: none;
}
}